/* Main app layout */
html, body, #app {
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Bangers|Raleway');

p, span, div, ul, li, input, textarea {
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    text-align: left;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', sans-serif;
    font-weight: normal;
}

h1, h2 { text-align: center; }

h3, h4, h5 { text-align: left; }

h3 {
    font-size: 1.5em;
    margin-bottom: 0;
}

/* Highlight Selection Color */
::selection {
    background: #f76b69a4;
    color: #000;
    text-shadow: none;
}

::-moz-selection {
    background: #f76b69a4;
    color: #000;
    text-shadow: none;
}