$primary-color: #FFF;
$secondary-color: #e53935;

header{
    background: $secondary-color;
    padding: 0.5em 1em;
    box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0,0,0,.12), 0 2px 4px rgba(0,0,0,.24);
    text-align: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    @media (min-width: 769px) {
      display: block;
    }
  
    .bigmac{
      width: 10%;
      @media (min-width: 769px) {
        display: none;
      }
    }

    h1 {
      width: 90%;
      @media (min-width: 769px) {
        width: auto;
      }
      margin: 0;
      a{
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
          width: 1.5em; 
          @media screen and (max-width: 479px) {
            display: none; // Sorry tiny phones - u don't get no pretty picture
          }
        }
      }
    }

    nav{
      margin: 0 auto;
      @media (min-width: 769px) {
        margin: 0;
      }
    }
  
    ul {
      list-style: none;
      padding: 0;

      &.main-nav{
        display: none; // Because the menu should only be immediately visible on desktop
        flex-direction: column;

        &.menuOpen{
          display: flex;
        }
        
        @media (min-width: 769px) {
          display: flex;
          flex-direction: row;
        }
      }


    }

    ul li a {
      flex: 1;
      clear: right;
      padding: 0.3em 0.6em;
      line-height: 2;
      color: $primary-color;
      text-decoration: none;
      font-family: 'Dosis', sans-serif;
      font-size: 1.2em;
      display: block;
      margin: 0;
      border: 1px solid $secondary-color;
  
      &.router-link-exact-active {
        border: 1px solid $primary-color;
      }
      
      &.router-link-active:hover, &:hover {
        background: $primary-color;
        border: 1px solid $primary-color;
        color: $secondary-color;
      }
    }
  }

  .sub-nav{
    background: $secondary-color;
    max-height: 0;
    overflow: hidden;
    transition: height, 0.5s linear;

    &.open {
      max-height: 500px;
      transition: height, 0.5s linear;
    }

    li a {
      color: lighten($primary-color, 10);
      display: block;
      margin: 0;

      &:hover{
        background: lighten($primary-color, 10);
        border: 1px solid lighten($primary-color, 10);
        color: lighten($secondary-color, 10);
      }

    }

    @media (min-width: 769px) {
      position: absolute;
    }
  }
  
  
  @media (min-width: 769px) {
    ul.main-nav {
      display: flex;
    }
    header {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    ul li a {
      margin: 0 0.5em;
    }
  }
  
  @media (min-width: 1025px) {
    header {
        flex-direction: row;
        justify-content: space-between;
    }
  }
  
  h1 a{
      color: $primary-color;
      text-decoration: none;
  }